* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  font-family: Arial, Helvetica, Arial, sans-serif;
}

canvas {
  display: block;
}

#container {
  height: 100vh;
  width: 100vw;
  background-color: rgb(27, 27, 31);
}
